@charset "ISO-8859-1";
/*Estilos para toda la página*/
* {
	padding: 0;
	margin: 0;
	font-family: "Carattere", cursive;
	
	box-sizing: border-box;
}
img {
	max-width: 100%;
}
input{
	font-family: 'Gemunu Libre', sans-serif;
}
/*Estilos del body*/
body {
	background: fixed center/100% url(img/formularios.jpg);
	object-fit: cover;
	height: max-content;
}
/*Estilos de los títulos joyería y módulo*/
.body__titlePage {
	margin: 20px 10px;
	background-color: #36fcfc25;
	font-size: 52px;
	color: #f7d000;
	text-align: center;
	width: 90%;
	height: 20%;
}
/*Estilos del CONTENDOR del FORMULARIO*/
.contenedor__formularioCompleto{
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	
	background-color:#223249;
	margin:10px auto;
	border: 3px solid #5d748a;
	border-radius: 20px;
	width: 50%;
	height:90%;
}


.tituloDelFormulario{
	width: 80%;
	border-bottom: 2px solid #5d748a;
	display: flex;
	flex-direction:column;
	margin:auto;
	text-align:center;
}

.tituloDelFormulario i{
	color:#5d748a;
	font-size:100px;
	margin:auto;
}
.tituloDelFormulario span{
	font-size:40px;
	color: #5d748a;
	
}

/*Estilos del FORMULARIO*/
form {
	display:flex;
	flex-wrap:wrap;
	
	/* flex:1; */
	
	
	margin:10px auto;
	min-width:400px;
	background-color:#223249;
	padding:20px;
	border: 3px solid #5d748a;
	border-radius: 20px;
	width: 50%;
	height:90%;
}



/*Estilos de los INPUT del FORMULARIO*/
form input {
	min-width: 80px;
	flex-grow:1;
	
	width:100%;
	border:none;
	border-bottom: solid 3px #5d748a;
	border-radius: 20px;
	font-size: 28px;
	color: #5d748a;
	
	padding: 10px;
	margin: 5px;
	background-color:transparent;
}
form input:focus {
	outline:none;
	color:#fff;
	font-family:'Gemunu Libre', sans-serif;
	background: linear-gradient(to bottom, transparent, #5d748a);
	border-bottom: 5px solid #0a8ab6;
}
	

/*Estilos del mensaje visible de los INPUT del FORMULARIO*/
form input::placeholder {
	color:#5d748a;
	font-size: 28px;
}

.form__botones{
	display: flex;
	flex-wrap:wrap;
	justify-content: space-evenly;
	align-items:flex-end;
	flex-grow:1;
	/* flex:2; */
	
	
	border-top: 2px solid #5d748a;
}

.form__botones input{
	text-align: center;
	min-width: 80px;
	flex-grow:1;
	
	width:10%;
}
/*Estilos del botón CANCELAR del FORMULARIO*/
a{
	align-self:flex-end;
	margin:auto;
	
	width:100%;
border: solid 3px #f7d000;
  border-radius: 20px;
  color: #f7d000;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  background-color: #36fcfc25;
  font-size: 28px;
}

