@charset "ISO-8859-1";

/* Hoja de estilos del Login */

/*Estilos para toda la página*/
* {
	padding: 0;
	margin: 0;
	font-family: 'Carattere', cursive;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

/*Estilos para el body*/
body {
	background: no-repeat center/100% url(img/mujer.jpg);
	background-color: #5d544d;
	background-size:cover;
	display: flex;
	flex-direction: column;
}
/*Estilos para el título "Joyería Isis"*/
.Contenedor__tituloJoyeria{
	max-width:32rem;
	margin: 2rem;
	padding:0.5rem 2rem;
    background: linear-gradient(to left, transparent, #514545);
    border-radius: 20px;
}
.tituloJoyeria {
	display:inline-block;
    font-size: 120px;
    color: #341e20;
    font-family: "Carattere", cursive;
    text-shadow: 3px 3px 5px #e3ded1;
}
/*Estilos para el main contenedor*/
.mainContenedor {
	background-image:url(img/tonosclaros.jpg);
	background-size:100%;
	background-repeat:no-repeat;
	/*background:linear-gradient(to bottom, transparent, #423a38); */
	margin: 0px 8rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 3%;
	width: calc(100vw * ( 350/ 1366));
	height: calc(100vw * ( 550/ 1366));
}
/*Estilos para el formulario contenedor de los 3 "botones"*/
.mainContenedor____formularioLogin {
	height: calc(50% - 10px);
	width:80%;
	margin-top: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
/*Estilos de los "botones"*/
form input {
	outline: none;
}

form button {
	outline: none;
}



/*Estilos del input USUARIO*/
#usuario {
	min-width: 80%;
	
	width:100%;
	border:none;
	border-bottom: solid 5px #b4796c;
	border-radius: 20px;
	background-color:transparent;
	margin:2rem;
}

#usuario::placeholder {
	font-size: 48px;
	color: #341e20;
}

#usuario:hover {
	outline:none;
	font-size: 48px;
	font-family: 'Carattere', cursive;
	background: linear-gradient(to bottom, transparent, #fceeba);
	border-bottom: 5px solid #fceeba;
}
/*Estilos del input CONTRASEÑA*/
#contrasena {
	min-width: 80%;
	
	width:100%;
	border:none;
	border-bottom: solid 5px #b4796c;
	border-radius: 20px;
	background-color:transparent;
	margin:2rem;
}

#contrasena::placeholder {
	font-size: 48px;
	color: #341e20;
}

#contrasena:hover {
	outline:none;
	font-size: 48px;
	font-family: 'Carattere', cursive;
	background: linear-gradient(to bottom, transparent, #fceeba);
	border-bottom: 5px solid #fceeba;
}
/*Estilos del input LOGIN*/
#login {
	align-self: flex-end;
	font-family: 'Gemunu Libre', sans-serif;
	font-size:40px;
	text-align:center;
	margin: auto;
	width: 100%;
	border: solid 3px #b4796c;
	border-radius: 20px;
	color: #fff;
	background: linear-gradient(to bottom, transparent, #b4796c);
	margin: 5px;
	text-decoration: none;
}
/*Estilos del pie de página*/
footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	backdrop-filter: blur(12px);
}
/*Estilos del pie de página versión mobile*/
.footer_responsive {
	display: none;
}
/*Estilos de las imágenes del pie de página*/
footer i {
	margin: 10px 10px;
}
/*Estilos del texto del pie de página*/
footer p {
	word-spacing: 10px;
	margin-bottom: 20px;
}

footer p, i {
	backdrop-filter: blur(12px);
	color: #fff;
	font-size: 30px;
}

/*Versión Responsive*/
@media only screen and (max-width: 768px) {
	body {
		background-image: url(img/formularios.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.mainContenedor {
		width: 90%;
		height: 90%;
		margin-bottom: 0px;
		border: 3px solid #FFD70055;
	}
	#usuario {
		margin-top: 10px;
		margin-bottom: 0;
	}
	#contrasena {
		margin: 5px;
	}
	#login {
		margin-bottom: 8px;
		background-color: #FFD70055;
	}
	footer {
		margin: 5px;
	}
	footer p, i {
		backdrop-filter: blur(12px);
		font-size: 15px;
		margin-bottom: 10px;
	}
}